// views users and there is a button clicked when u want to delete a user this button directs you to a new page which you can delete users in

<div class="adminPage" style='text-align:center' ng-controller='adminPagectrl'>
<form name='form'>
  <script type ="text/javascript">

      <ul ng-repeat="clients in clientsList">
    <li>{{clients.username + ' /n ' + clients.password + ' /n ' + clients.user_basket+' /n '+clients.user_history + ' /n '+clients.profile + ' /n ' + clients.admin}}</li>

    
    <button ng-click="DeleteUsers()">Delete Users</button>
