<div class="products" style='text-align:center' ng-controller='adminCtrl' ng-init = getProducts()>


<h1>Products</h1>

<div style="float:left;padding:10px;margin:0 auto;" ng-repeat="product in products">
    <p>Name: {{product.name}}  &nbsp&nbsp&nbsp&nbsp&nbsp  Price: {{product.price}} <br><br/> Details: {{product.details}} </p>
     <button ng-click="ToEditProduct(product._id)">Edit</button>
      <button ng-click="DeleteProduct(product._id)">Delete</button>

</div>

<button ng-click="ToNewProduct()">Create New Products</button>
